body {
    padding: 0;
    margin: 0;
    font-family: 'DotGothic16';
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2vh solid black;
    padding: 2vh 3vw;
    font-family: 'DotGothic16';
    font-size: 2vw;
}

.header2 {
    display: flex;
    justify-content: space-evenly;
    gap: 2vw;
    font-family: 'DotGothic16';
    font-size:2vw ;
    font-weight: 400;
}

h1 {
    font-family: 'DotGothic16';
    font-weight: 400;
    text-align: center;
    margin: 2vh 0;
}

.main {
    padding: 5vh 5vw;
}

.main-header {
    text-align: center;
    font-weight: 400;
    font-size: 3vh;
}

.main-header img {
    width: 100%;
    border-radius: 2vh;
    margin-bottom: 5vh;
    border: 0.1vh solid transparent;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3vw;
}

h4 {
    line-height: 2vh;
    font-size: 2vh;
    font-family: "Archivo";
    margin-top: 0;
    font-weight: 400;
    margin-bottom: 0;
}

p {
    line-height: 2.4vh;
    font-size: 1.8vh;
    font-family: "Archivo";
    font-weight: 400;
    margin-top: 0;
}

.item img {
    width: 100%;
}

.main-caption {
    width: 45vw;
    margin-top: 3vh;
    font-family: 'DotGothic16';
    font-size: 2.5vh;
    font-weight: 400;
    color: #000000;
    margin-bottom: 5vh;
}

.second-grid {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    justify-content: space-between;
}

.second-grid img {
    width: 42vw;
    margin-bottom: 2vh;
}

.third-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
    gap: 5vw;
    margin-bottom: 2vh;
}

.fourth-grid {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    justify-content: space-between;
}

.fourth-grid img {
    width: 42vw;
    margin-bottom: 2vh;
}

.fifth-item img {
    height: 30vw;
}

.fifth-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2vw;
    margin-bottom: 2vh;
}

.sixth-item {
    width: 90vw;
    text-align: right;
    padding: 0;
}

.sixth-item img {
    width: 70vw;
}

.sixth-grid {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    justify-content: space-between;
}

.sixth-grid img {
    width: 42vw;
    margin-bottom: 2vh;
}

.third-grid div {
    font-size: 2vh;
    font-family: "Archivo";
    margin: 0px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 6vh 5vw 2vh 5vw;
    align-items: center;
   
}

.footer-text {
   
    font-weight: 500;
    font-size: 3vh;
}

.contact-button {
    color: #000000;
    border: 0.1vh solid #000000;
    border-radius: 1vh;
    padding: 1vh 2vw;
    font-size: 1.8vh;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-button:hover {
    background-color: rgba(214, 221, 230, 0.1);
    transform: scale(1.05);
}

